.adminView {
    box-sizing: border-box;
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-rows: .5fr 1fr 1fr 4.5fr;
}

.admin-checkbox {
    height:35px;
    width: 35px;
}

.popup-table {
    border: 3px solid #747474;
    height: 150px;
    overflow-y: scroll;
    width:800px;
    margin:auto;
}

.drug-selection {
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-left:50px;
    margin-left: 50px;
}

.drug-dropdown {
    width: 200px;
    margin-right: 50px;
    font-size: 16px;
    overflow:auto;
    /*margin-top: 25px;*/
}

.drug-label {
    font-weight: 600;
    margin-bottom: 100px;
}

