body {
    min-height: 100vh;
    margin: 0;
    width: 100%;
}

.largeView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 5px solid #0E619C;
    box-shadow: 0px 0px 10px;
    overflow: scroll;
}

.studyResults {
    max-height: 400px;
    overflow-y: auto;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.studyResults::-webkit-scrollbar {
    display: none;
}

.pName {
    margin-left: 10px;
}

#close {
    border: 2px solid #0E619C;
    border-radius: 10px;
    font-size: 25px;
    width: 50px;
    margin-left: 10px;
}

#close:hover {
    background-color: #bababa;
    color: white;
}

.popup-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-middle {
    display: flex;
    flex-wrap: wrap;
}

.popup-section {
    width: calc(25% - 10px);
    /* changed from "calc(100% / 4 - 10px)" */
    margin: 5px 5px 20px;

}

.popup-section h3 {
    margin-top: 0;
}

.popup-section p {
    margin: 10px;
}

.popup-section input {
    width: fit-content;
    box-sizing: border-box;
}

.profilePic {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-left: 0px;
}

/* Table for Patient Data */
.patientTable {
    box-sizing: border-box;
    /* left: 50%; */
    display: flexbox;
    width: 100%;
    top: 115px;
    background: #FFFFFF;
    margin-top: auto;
    /*border: 3px solid #747474;*/
}

/* Patient Table Location */
/* Table for Patient Data */
.patientTableLocation {
    border: 3px solid #747474;
    /* position: absolute; */
    display: flexbox;
    height: 683px;
    width: 85%;
    top: 550px;
    overflow-y: scroll;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: center;
    margin-top: 40px;
    /* margin-left: 100px; */
}

th {
    position: sticky;
    top: 0px;
}

.table {
    padding-left: 5px;
    padding-right: 5px;
}

/* Table header styles */
.patientTable th {
    background-color: #0E619C;
    color: white;
}

/* Table row styles */
.patientTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Trying to alternate row colors */
.patientTable tr.even {
    background-color: #f2f2f2;
}

.patientTable tr.odd {
    background-color: #FFFFFF;
}

/* Table cell styles */
.patientTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Table hover styles */
.patientTable tr:hover {
    background-color: #ddd;
}

/* Table responsive styles */
.patientTable-responsive {
    overflow-x: auto;
}

/* Manage Patient Page View */
.managePatient {
    /* position: relative;
    width: 100vw;
    height: 100vw;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; */

    box-sizing: border-box;
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 5fr;
}

.fdaview {
    box-sizing: border-box;
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr;
}

/* Navbar */
.doctorNavbar {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130px;
    background-color: #0E619C;
}

/* Jane Hopkins Text*/
.janeHopkinsTitleText {
    width: 400px;
    height: 57px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

/* Hospital Text*/
.hospitalTitleText {
    /* position: absolute; */
    /* width: 393px; */
    /* height: 121px; */
    /* left: 87px;
    top: 19px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    color: #000000;
}

/* Email */
.displayEmail {
    width: fit-content;
    height: 34px;
    margin-left: auto;
    margin-right: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    padding-right: 5px;
}

/* Sign out Icon */
.signOutIcon {
    position: relative;
    width: 29px;
    height: 27px;
    /* left: -48px;
    top: 0px; */
    background: url(Icons/signOutIcon.png) no-repeat center center;
    border-radius: 107px;
    background-size: cover;
    filter: brightness(10) contrast(100000);
}

/* Sign Out Text */
.signOutText {
    width: 99px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0E619C;
}

/* Sign Out Button */
.signOutButton {
    box-sizing: border-box;
    width: clamp(50px, 30% 150px);
    height: 47px;
    left: 0px;
    background: #ffffff;
    border: 1px solid #0E619C;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 76px;
    cursor: pointer;
}

.signOutButton:hover {
    background-color: #9ea5aa;
    color: white;
}

/* TODO MUST FIX NAVBUTTON LOCATIONS BELOW---------------------------------------------- */


.doctorNavButtonLocations{
    width: 100%;
    grid-row: 2/ 3;
    /* position: absolute; */
    justify-self: center;
    align-self: center;
    top: 180px;
    display: flex;
    justify-content: center;
    gap: 20px;


}

.doctorNavButtonLocations > div {
    height: 55px;
    width: clamp(100px, 50%, 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #EFEFEF;
    border: 5px solid #0E619C;
    border-radius: 20px;

}
/* Nav Button Locations*/
.doctorNavButtonLocations > div > button   {
    text-align: center;
    width: clamp(125px, 35%, 220px);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0E619C;
    background-color: #EFEFEF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.appointmentBro button:hover, 
.welcomeBro button:hover,
.addPatientBro button:hover  {
    transform: scale(1.1);
    
}

.patientNameSearchBox, .patientAgeSearchBox, .patientICDSearchBox, .patientInsuranceSearchBox {
    display: flex;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    cursor: text;
}


/* Welcome */
.welcomeContainer {
    position: absolute;
    width: 279px;
    height: 53px;
    cursor: pointer;
    background: #F3F3F3;
    border: 5px solid #0E619C;
    border-radius: 20px;
    display: flex;
}

.welcomeContainer:hover {
    background-color: #c2dbec;
    color: white;
}

/* Welcome Page */
.welcomeText {
    position: absolute;
    width: 221px;
    height: 43px;
    left: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0E619C;
}

/* Appointments */
.appointmentContainer button {
    position: absolute;
    width: 279px;
    height: 54px;
    left: 350px;
    cursor: pointer;
    background: #F3F3F3;
    border: 5px solid #0E619C;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #0E619C;

}

.appointmentContainer button:hover {
    background-color: #c2dbec;
}

/* appointment text */
.appointmentContainer {
    position: center;
    width: 221px;
    height: 43px;
    left: 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0E619C;
}

/* add patient button */
.addPatientContainer {
    position: absolute;
    width: 279px;
    height: 54px;
    left: 700px;
    cursor: pointer;
    background: #F3F3F3;
    border: 5px solid #0E619C;
    border-radius: 20px;
}

.addPatientContainer:hover {
    background-color: #c2dbec;
    color: white;
}

/* add patient text */
.addPatientText {
    position: absolute;
    width: 221px;
    height: 43px;
    left: 75px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0E619C;
}
/* TODO STOPS HERE -------------------------------------------------------------------------------*/
/* Start ---------- */
.nav-bar {
    grid-row: 1 / 2;
    color: white;
    display: flex;
    grid-template-columns: 2fr 1fr 1fr;
    
    align-items: center;
    height: 130px;
    background-color: #0e619c;
}

.nav-bar > div + button {
    align-self: center;
    justify-self: center;
}

.hospital-name {
    justify-self: start;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar div + div {
    align-self: center;
    justify-self: end;
}

.patientSearchBox {
    grid-row: 3 / 4;
    box-sizing: border-box;
    /* position: absolute; */
    width: 80%;
    top: 300px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 3px solid #0E619C;
    border-radius: 20px;
    padding: 10px;
    justify-self: center;
}

.patientSearchBoxName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #000000;
}

.searchUndoLocations {
    display: flex;
    justify-content: center;
}
/* Search button */
.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 20px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 19px;
    width: clamp(125px, 30%, 280px);
    padding: 5px ;
    margin: 5px
    
    /* padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

    margin-left: 40%;
    margin-right: 40%; */
}



.searchButton:hover {
    background-color: #c2dbec;
    color: black;
}

/* Search Text */
.searchButtonText {
    /* position: absolute; */
    width: 80%;
    height: 43px;
    left: 78px;
    top: -4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    /* align-items: center;
    text-align: center; */
    color: #000000;
}



.patientSearchBars {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 25px; */
    margin: 10px 0 10px 0;
}

.patientSearchBars > div {
    display: flex;
    flex-direction: column;

}

.patientNameSearchLabel, .patientAgeSearchLabel, .patientICDSearchLabel, .patientInsuranceSearchLabel {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    top: -20px;
    left: 0px;
}

.patientSearchBars > div > .patientNameSearchBox, .patientICDSearchBox, .patientInsuranceSearchBox {
    flex: 0 1 auto;
    width: clamp(20px, 100%, 200px)
}

.patientSearchBars > div > .patientAgeSearchBox {
    flex: 0 1 auto;
    width: clamp(20px, 100%, 80px)
}


/* .patientNameSearchBox, .patientAgeSearchBox, .patientICDSearchBox, .patientInsuranceSearchBox {
    width: 80%;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* ------------- End */

.add-patient {
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    border: 4px solid rgba(0, 204, 0, 0.726);
    border-radius: 50px;
    color: rgba(0, 204, 0, 0.726);
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.add-patient:hover {
    background-color: #ececec;
    cursor: pointer;
}

.add-patient::after {
    content: attr(data-message);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
    border: 5px solid #0e619c;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }

  .add-patient:hover {
    opacity: 1;
    visibility: visible;
  }

/* Get rid of up/down errors on number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
}
*/
.checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkbox-test {
    font-size: 97%;
}