html {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome-body {
  box-sizing: border-box;
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  /* background-image: url(../assets/images/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.nav-bar,
.container {
  padding: 25px;
}

.nav-bar {
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  height: 125px;
  background-color: #0e619c;
}

.nav-bar > div + button {
  align-self: center;
  justify-self: center;
}

.signOutButton{
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hospital-name {
  justify-self: start;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar div + div {
  align-self: center;
  justify-self: end;
}

.nav-bar button {
  height: 50px;
  width: 100px;
}

.welcome-container {
  height: 25%;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container {
  grid-column: 1 / 2;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  gap: 40px;
  margin-top: 10px;
}

.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e619c;
  border: 2px solid;
  border-radius: 25px;
}

.box button {
  color: white;
  height: 40px;
  width: 100px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgba(248, 248, 248, 0);
}