.largeView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 5px solid #0E619C;
    box-shadow: 0px 0px 10px;
  }

  .pName{
    margin-left: 10px;
  }
  #close{
    border: 2px solid #0E619C;
    border-radius: 10px;
    font-size: 25px;
    width: 50px;
    margin-left: 10px;
  }
  #close:hover {
    background-color: #bababa;
    color: white;
  }

  .popup-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popup-middle {
    display: flex;
    flex-wrap: wrap;
  }
  
.popup-section {
    width: calc(25% - 10px); /* changed from "calc(100% / 4 - 10px)" */
    margin: 5px 5px 20px;
    
  }
  
  .popup-section h3 {
    margin-top: 0;
  }
  
  .popup-section p {
    margin: 10px;
  }
  
  .popup-section input {
    width: fit-content;
    box-sizing: border-box;
  }

  .profilePic{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  
/* Table for Patient Data */
.patientTable {
    box-sizing: border-box;
    left:50%;
    display: flexbox;
    width: 1270px;
    top: 115px;
    background: #FFFFFF;
    /*border: 3px solid #747474;*/
}

/* Patient Table Location */
/* Table for Patient Data */
.patientTableLocation {
    margin: auto;
    border: 3px solid #747474;
    position: absolute;
    display:flexbox;
    height: 683px;
    top: 520px;
    overflow-y:scroll;
}

th {
    position: sticky;
    top: 0px;
}

.table {
    padding-left: 5px;
    padding-right: 5px;
}
  
/* Table header styles */
.patientTable th {
    background-color: #0E619C;
    color: white;
}

/* Table row styles */
.patientTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Trying to alternate row colors */
.patientTable tr.even {
    background-color: #f2f2f2;
}

.patientTable tr.odd {
    background-color: #FFFFFF;
}

/* Table cell styles */
.patientTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Table hover styles */
.patientTable tr:hover {
    background-color: #ddd;
}

/* Table responsive styles */
.patientTable-responsive {
    overflow-x: auto;
}

/* Manage Patient Page View */
.managePatient {
    position: relative;
    width: 100vw;
    height: 100vw;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
.doctorNavbar {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130px;
    background-color: #0E619C;
}

/* Title */
.doctorViewTitle {
    /* position: absolute;
    width: 400px;
    height: 139px;
    left: 30px;
    top: 1px; */
}

/* Jane Hopkins Text*/
.janeHopkinsTitleText {
    width: 400px;
    height: 57px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

/* Hospital Text*/
.hospitalTitleText {
    /* position: absolute; */
    /* width: 393px; */
    /* height: 121px; */
    /* left: 87px;
    top: 19px; */

    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    color: #000000;
}

/* Email */
.displayEmail {
    width: fit-content;
    height: 34px;
    margin-left: auto;
    margin-right: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    padding-right: 5px;
}

/* Sign out Icon */
.signOutIcon {
    position: relative;
    width: 29px;
    height: 27px;
    /* left: -48px;
    top: 0px; */
    background: url(Icons/signOutIcon.png) no-repeat center center;
    border-radius: 107px;
    background-size: cover;
    filter: brightness(10) contrast(100000);
}

/* Sign Out Text */
.signOutText {
    width: 99px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0E619C;
}

/* Sign Out Button */
.signOutButton {
    box-sizing: border-box;
    width: 150px;
    height: 47px;
    left: 0px;
    background: #ffffff;
    border: 1px solid #0E619C;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 76px;
    cursor: pointer;
}

.signOutButton:hover {
    background-color: #9ea5aa;
    color: white;
}

/* Nav Button Locations*/
.doctorNavButtonLocations {
    width: 980px;
    height: 55px;
    position: absolute;
    top: 200px;
    display: flex;

}

/* Welcome */
.welcomeContainer {
    position: absolute;
    width: 279px;
    height: 53px;
    cursor: pointer;
    background: #F3F3F3;
    border: 5px solid #0E619C;
    border-radius: 20px;
    display: flex;
}

.welcomeContainer:hover {
    background-color: #c2dbec;
    color: white;
}

/* Welcome Page */
.welcomeText {
    position: absolute;
    width: 221px;
    height: 43px;
    left: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0E619C;
}

/* Appointments */
.appointmentContainer {
    position: absolute;
    width: 279px;
    height: 44px;
    left: 350px;
    cursor: pointer;
    background: #F3F3F3;
    border: 5px solid #0E619C;
    border-radius: 20px;
}

.appointmentContainer:hover {
    background-color: #c2dbec;
    color: white;
}

/* appointment text */
.appointmentText {
    position: absolute;
    width: 221px;
    height: 43px;
    left: 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0E619C;
}

/* add patient button */
.addPatientContainer {
    position: absolute;
    width: 279px;
    height: 54px;
    left: 700px;
    cursor: pointer;
    background: #F3F3F3;
    border: 5px solid #0E619C;
    border-radius: 20px;
}

.addPatientContainer:hover {
    background-color: #c2dbec;
    color: white;
}

/* add patient text */
.addPatientText {
    position: absolute;
    width: 221px;
    height: 43px;
    left: 75px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0E619C;
}

/* Patient Search Box */
.patientSearchBox {
    box-sizing: border-box;
    position: absolute;
    width: 1177px;
    height: 185px;
    top: 300px;
    display: flex;
    background: #FFFFFF;
    border: 3px solid #0E619C;
    border-radius: 20px;
}

/* Patient Search */
.patientSearchBoxName {
    position: absolute;
    width: 317.6px;
    height: 35.48px;
    left: 15px;
    top: 1px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #000000;
}

/* Search/Undo Buttons */
.searchUndoLocations {
    padding-top: 100px;
    margin:auto;
}

/* Undo button */
.undoButton {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 137.78px;
    height: 44px;
    left: 262px;
    top: 0px;
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}

/* Undo Text */
.undoButtonText {
    position: absolute;
    width: 67.84px;
    height: 43px;
    left: 39px;
    top: -4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/* Search button */
.searchButton {
    cursor: pointer;
    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 20px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    width:fit-content;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.searchButton:hover {
    background-color: #c2dbec;
    color: black;
}

/* Search Text */
.searchButtonText {
    position: absolute;
    width: 67.84px;
    height: 43px;
    left: 78px;
    top: -4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

/* Patient Name Search Container */
.patientNameSearch {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 50px;
    width: 294.25px;
    height: 53.94px;
    left: 20px;
    top: 10px;
}

/* Input Box */
.patientNameSearchBox {
    position: absolute;
    width: 280px;
    height: 33.35px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    top: 10px;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    cursor: text;
}

/* Box Text */
.patientNameSearchLabel {
    position: absolute;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
    top: -20px;
    left: 0px;
}

/* Patient Age Search Container */
.patientAgeSearch {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 50px;
    width: 90px;
    height: 53.94px;
    left: 375px;
    top: 10px;
}

/* Input Box */
.patientAgeSearchBox {
    position: absolute;
    width: 90px;
    height: 33.35px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    top: 10px;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    cursor: text;
}

/* Box Text */
.patientAgeSearchLabel {
    position: absolute;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
    top: -20px;
    left: 0px;
}

/* Patient ICD Search Container */
.patientICDSearch {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 50px;
    width: 294.25px;
    height: 53.94px;
    left: 520px;
    top: 10px;
}

/* Input Box */
.patientICDSearchBox {
    position: absolute;
    width: 280px;
    height: 33.35px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    top: 10px;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    cursor: text;
}

/* Box Text */
.patientICDSearchLabel {
    position: absolute;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
    top: -20px;
    left: 0px;
}

/* Patient Insurance Search Container */
.patientInsuranceSearch {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 50px;
    width: 294.25px;
    height: 53.94px;
    left: 850px;
    top: 10px;
}

/* Input Box */
.patientInsuranceSearchBox {
    position: absolute;
    width: 280px;
    height: 33.35px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    top: 10px;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    cursor: text;
}

/* Box Text */
.patientInsuranceSearchLabel {
    position: absolute;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
    top: -20px;
    left: 0px;
}

.add-patient {
    width:fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    border: 4px solid rgba(0, 204, 0, 0.726);
    border-radius: 50px;
    color: rgba(0, 204, 0, 0.726);
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.add-patient:hover{
    background-color: #ececec;
    cursor: pointer;
}

/* Get rid of up/down errors on number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
}
*/
.checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkbox-test {
    font-size: 97%;
}