@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */

/* alters the main background page*/
.background-color {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main header thats blue with stuff */
.navbar {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #0E619C;
}

/* MDMS title */
.navbar h1 {
  position: absolute;
  width: 35px;
  height: 0px;
  left: 146.5px;
  top: -10px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000;
}

.navbar h4 {
  position: absolute;
  width: 35px;
  height: 0px;
  left: 213.5px;
  top: -29px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f9f7f7;
}
.navbar h2 {
  position: absolute;
  width: 300px;
  height: 35px;
  left: 162.5px;
  top: 18px;
  
  font-style: normal;
  font-weight: 630;
  font-size: 16px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}
.navbar h3 {
  position: absolute;
  width: 375px;
  height: 54px;
  left: 126.5px;
  top: 20px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000;
}

.navbar .links {
  margin-left: auto;
}

.basic-info {
  align-items: center;
  text-align: center;
  /*position: absolute;*/
  display: flexbox;
  margin-left: 200px;
  margin-right: 200px;

  margin-top: 0px;
  line-height: 30px;

  font-weight: 500;
  font-size: 24px;
  color: #747474;
}

.mission-head {
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 60px;

  color: #000000;
}

.org-partners {
align-items: center;
margin: auto;
font-size: 20px;
text-align: center;
text-decoration-line: underline;
margin-top: 80px;
margin-bottom: -50px;

color: #000000;
}

/* coder-names alters bottom right dev names */
.coder-name {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #000;
  color: black;
  font-size: 16px;
  
}

.coder-name::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% ); /* Set a semi-transparent black background */
  filter: blur(20px); /* Add the blur effect to the semi-transparent black background */
  z-index: -1;
  position: absolute;
  left: 0px; /* Adjust the left and top position to move the shadow */
  top: 0px;
}



/* alters create acc and sign in buttons */
.navbar a {
  color: white;
  border: 1px solid white;
  padding: 60px 12px;
  display: inline-block;
  border-radius: 36px;

  margin-right: 40px;
  text-decoration: none;
  padding: 5px; 
}

/* when hovering over create account, this is the color */
.navbar a:hover {
  background-color: #f0f9ff;
  color: #0E619C;;
}

.content {
  max-width: auto;
  max-lines: auto;
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
}
.home {
  margin-left: 250px;
}


.organizations .bavaria, .fda, .hospital {
  display:inline-block;
  border: 2px solid white;
  border-radius: 36px;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top:25%;

}



.background-bavaria, .background-fda, .background-hospital {
  display:inline-block;
  width: 423px;
  height: 267px;

  background: #0E619C;
  box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;

}

.mission-container {
  margin:auto;
  margin-top: 150px;
  text-align: center;
}
