@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */

/* alters the main background page*/
.background-color {
  position: relative;
  /* background: #ffffff; */
  display: grid;
  min-width: 100vh;
  min-height: 90vh
  /* justify-content: center;
  align-items: center; */
}

/* main header thats blue with stuff */
.navbar {
    grid-row: 1 / 2;
    color: white;
    display: flex;
    grid-template-columns: 2fr 1fr 1fr;
    
    align-items: center;
    height: 90%;
    background-color: #0e619c;
}

/* MDMS title */
.navbar .medTitle .abbrvMD {
  background: #FFFFFF;
  background: linear-gradient(to left, #FFFFFF 40%, #000000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: bolder;
}

/* MDMS subtitle */
.navbar .medTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.navbar .manageTitle {
  color: #000000;
}

.navbar .linkCreate {
  margin-left: auto;
  background-color: #0E619C;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin-right: 43px;
}

.navbar .linkCreate a {
  box-sizing: border-box;
  width: clamp(50px, 30% 150px);
  left: 0px;
  border: 1px solid #0E619C;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 3px 10px;
  color: white;
  transition: all 0.2s;
}

/* when hovering over create account, this is the color */
.navbar .linkCreate a:hover {
  background-color: #f0f9ff;
  background-size: cover;
  color: #0E619C;
}

/* alters create acc and sign in buttons */
.navbar .linkLogin a {
  color: #0E619C;
  background-color: #fff;
  box-sizing: border-box;
  width: clamp(50px, 30% 150px);
  left: 0px;
  border: 1px solid #0E619C;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 76px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.2s;
}

.basic-info {
  align-items: center;
  text-align: center;
  /*position: absolute;*/
  display: flexbox;
  margin-left: 200px;
  margin-right: 200px;

  margin-top: 0px;
  line-height: 30px;

  font-weight: 500;
  font-size: 24px;
  color: #747474;
}

.mission-head {
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 60px;

  color: #000000;
}

.org-partners {
align-items: center;
margin: auto;
font-size: 20px;
text-align: center;
text-decoration-line: underline;
margin-top: 80px;
margin-bottom: -50px;

color: #000000;
}

/* coder-names alters bottom right dev names */
.coder-name {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #000;
  color: black;
  font-size: 16px;
  
}

.coder-name::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% ); /* Set a semi-transparent black background */
  filter: blur(20px); /* Add the blur effect to the semi-transparent black background */
  z-index: -1;
  position: absolute;
  left: 0px; /* Adjust the left and top position to move the shadow */
  top: 0px;
}

.content {
  max-width: auto;
  max-lines: auto;
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
}
.home {
  margin-left: 250px;
}


.organizations .bavaria, .fda, .hospital {
  display:inline-block;
  text-decoration: underline;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top:25%;

}

.background-bavaria{
  background: linear-gradient(180deg, rgba(14,97,156,1) 87%, rgba(111,171,208,1) 100%);
}
.background-fda{
  background: linear-gradient(180deg, rgba(14,97,156,1) 87%, rgba(111,171,208,1) 100%);
}
.background-hospital{
  background: linear-gradient(180deg, rgba(14,97,156,1) 87%, rgba(111,171,208,1) 100%);
}

.background-bavaria, .background-fda, .background-hospital {
  display: inline-block;
  width: 423px;
  height: 267px;

  box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;

  /* flip animation properties */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* flip animation on hover */
.background-bavaria:hover, .background-fda:hover, .background-hospital:hover {
  transform: rotateY(180deg);
  transition-delay: 0.3s; /* add a 0.3s delay before flipping back */
}

/* backface of the tile */
.background-bavaria .back, .background-fda .back, .background-hospital .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* text on the back of the tile */
.background-bavaria .back p, .background-fda .back p, .background-hospital .back p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0E619C;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}


.mission-container {
  margin:auto;
  margin-top: 150px;
  text-align: center;
}