@font-face {
    font-family: "roboto";
    src: url("../Fonts/RobotoCondensed-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.font-roboto {
    font-family: roboto;
}


  
.container {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0em;
}
.container h1 {
  margin-top: -30px;
  height: 12px;
  font-size: 23px;

}
.container h2 {
  margin-left: -7px;
  margin-top: 20px;
  font-size: 23px;
  width: 300px;

}
.container a {
  padding: 2px;
  color: #033a98bf;
  font-size: 14px;
  
}
.container a:hover {
  color: black;
}
.container p {
  width: 200px;
  height: 10px;
  margin-left:2px ;
}
.container .prompt2 {
  width: 250px;
  margin-top: 50px;
  height: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-left: -19px;
  
}
.container .prompt3 {
  width: 250px;
  margin-top: 30px;
  height: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-left: 10px;
  
}

.background {
    max-width: 220px;
    max-height: fit-content;
    padding: 70px;
    border: thin solid rgba(254, 250, 250, 0.76);
    border-radius: 1em;
    background-color: rgba(209, 226, 240, 0.533);
    color: rgb(7, 7, 7);
    border: 2px solid #033a98bf;
    position: relative; /* Add position relative for the shadow effect */
}
.logInNavbar {
    top: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: #0E619C;
    padding: 20px;
    margin:  auto;
    
  }
  .logInNavbar a {
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    display: inline-block;
    
    margin-right: 50px;
    text-decoration: none;
    padding: 5px;
    width: 65px;
  }

  .logInNavbar img {
    width: 13px;
}
  
  
  /* MDMS title */
  .logInNavbar h1 {
    position: absolute;
    width: 35px;
    height: 0px;
    left: 138px;
    top: -10px;
    
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #000;
  }
  
  .logInNavbar h4 {
    position: absolute;
    width: 35px;
    height: 0px;
    left: 205px;
    top: -29px;
    
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #f9f7f7;
  }
  .logInNavbar h2 {
    position: absolute;
    width: 300px;
    height: 35px;
    left: 154px;
    top: 18px;
    
    font-style: normal;
    font-weight: 630;
    font-size: 16px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #fff;
  }
  .logInNavbar h3 {
    position: absolute;
    width: 375px;
    height: 54px;
    left: 118px;
    top: 20px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #000;
  }
  
  .logInNavbar .links {
    margin-left: auto;
  }

/*.background::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );  Set a semi-transparent black background 
    filter: blur(20px);  Add the blur effect to the semi-transparent black background 
    z-index: -1;
    position: absolute;
    left: 0px;  Adjust the left and top position to move the shadow 
    top: 0px;
}
*/
.login-button,
.add-btn,
.user-type,
.back-btn {
  display:flexbox;
  min-width: fit-content;
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
  height: 3em;
  width: 15em;
  margin-top: 2em;
  font-size: x-large;
  padding: 1.5%;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #c2dbec;
  color: white;
}


.patient-display {
    display:flexbox;
    min-width: fit-content;
    cursor: pointer;
    background-color: #033a98bf;
    color: white;
    border-radius: 10px;
    margin: auto;
    height: 2.5em;
    width: 15em;
    margin-top: 10em;
    font-size: large;
    border: limegreen;
    padding: 2.5%;
}

.login-button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 3px solid #033a98bf;
    background: #fefdfd;
    color: #033a98bf;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
justify-content: center;
align-items: center;
   }
   
/*.login-button:hover {
    
    box-shadow: 0 0 10px #31d6cb, 0 0 25px #0047AB, 0 0 30px #ff5ef7;
    border: 1px solid white;
   }*/
   

.add-btn {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 3px solid #033a98bf;
    color: #033a98bf;
    text-transform: uppercase;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.add-btn:hover {
    box-shadow: 0 0 10px #31d6cb, 0 0 25px #0047AB, 0 0 30px #ff5ef7;
    border: 1px solid white;
}*/


.user-type {
    width: 250px;
    height: 78px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
  }
  
  .user-type::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  
 /* .user-type:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
  }*/
  


.back-btn {
    width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}


.back-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  red , red );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
.back-btn:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  red, red );
    transition: 0.5s;
  }
.org-btn {
    cursor: pointer;
} 

.input,
.drop-down {
    display: block;
    width: 15em;
    padding: 3.4%;
    border: thin solid black;
    text-align: left;
    margin: auto;
}

.drop-down {
    text-align: center;
    cursor: pointer;
}

.drop-down:hover {
    background-color: rgba(255, 255, 255, 0.884);
}

.header,
.header-org,
.header-create {
    margin-top: 2em;
    color: rgb(2, 7, 7);
}

.prompt {
    margin-top: 2.5em;
    font-weight: bold;
    color: #08080879;
}

.text {
    color:rgb(240, 248, 255);
}
