.adminViewMg {
    box-sizing: border-box;
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    background-color: #fff;
    width: auto;
    height: 80px;
    position: relative;
    top: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    gap: 20px;
    border: 5px solid #000000;
}

.category {
    display: flex;
    align-items: center;
    margin-bottom: px;
    display: flex;
    flex-direction: column;
}

.approved {
color: #0074ae;
font-size: 25px;
}

.pending {
color: #f0ad4e;
font-size: 25px;
}

.cancelled {
color: #d9534f;
font-size: 25px;
}

.completed {
color: #5cb85c;
font-size: 25px;
margin-right: auto;
}

i {
margin-right: 5px;
}

.count {
background-color: #464646;
color: #fff;
border-radius: 50%;
width: 25px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 15px;
font-size: 20px;
}

.addStudyButton {
background-color: #0088cc;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.clicked {
    background-color: #0088cca0;
    color: white;
}
  
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0088cc;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    font: RobotoCondensed;
}