.sidebar {
    background-color: #fff;
    width: 360px;
    height: 200px;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom of the screen */
    left: 20px; /* Adjust the distance from the left of the screen */
    padding: 20px;
    border: 5px solid #000000;
}

.category {
display: flex;
align-items: center;
margin-bottom: px;
}

.approved {
color: #0074ae;
font-size: 35px;
}

.pending {
color: #f0ad4e;
font-size: 35px;
}

.cancelled {
color: #d9534f;
font-size: 35px;
}

.completed {
color: #5cb85c;
font-size: 35px;
margin-right: auto;
}

i {
margin-right: 0px;
}

.count {
background-color: #464646;
color: #fff;
border-radius: 50%;
width: 35px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
font-size: 20px;
}

.addStudyButton {
background-color: #0088cc;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.clicked {
    background-color: #0088cca0;
    color: white;
}
  
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0088cc;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    font: RobotoCondensed;
}